/* For use in primary base color */
$md-custom-primary: (
    50 : #e4e9ef,
    100 : #bcc8d8,
    200 : #8fa4be,
    300 : #6280a4,
    400 : #416491,
    500 : #1f497d,
    600 : #1b4275,
    700 : #17396a,
    800 : #123160,
    900 : #0a214d,
    A100 : #83a7ff,
    A200 : #5083ff,
    A400 : #1d5fff,
    A700 : #034dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


/* For use in warning or accent base color */
$md-custom-accent: (
    50 : #fff8e0,
    100 : #feedb3,
    200 : #fee180,
    300 : #fed54d,
    400 : #fdcc26,
    500 : #fdc300,
    600 : #fdbd00,
    700 : #fcb500,
    800 : #fcae00,
    900 : #fca100,
    A100 : #ffffff,
    A200 : #fff8ef,
    A400 : #ffe4bc,
    A700 : #ffd9a2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
/* For use in for danger or warn base color */
$md-custom-warn: (
    50 : #fcebe2,
    100 : #f9ceb6,
    200 : #f5ad86,
    300 : #f08c55,
    400 : #ed7430,
    500 : #ea5b0c,
    600 : #e7530a,
    700 : #e44908,
    800 : #e14006,
    900 : #db2f03,
    A100 : #ffffff,
    A200 : #ffd6cf,
    A400 : #ffab9c,
    A700 : #ff9583,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



